:root{
    --fundo-preto:#1d1d1d;
}
body {
    background-image: url(/images/fundo.jpg);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
.login{
    background-color: rgba(0, 0, 0, 0.699);
    padding: 4vw;
    border-radius: 5px;
    box-shadow: 0 1vw 2vw rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
}

input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: var(--fundo-preto);
    border-bottom:2px solid rgb(255, 255, 255) ;
    color: white;
}
#botao:hover{
    background-color: #ffffff33;
    color: black;
    cursor: pointer;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.479);
    text-align: center;
}
input:focus{
    color: white;
}
@media (max-width: 600px) {
    #Text {
        font-size: 3vw;
    }

    input {
        width: 80vw;
    }
}
.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.arvo-bold {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}

.arvo-regular-italic {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: italic;
}

.arvo-bold-italic {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: italic;
}
