.cabec {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    text-decoration: none;
    max-width: 100%;
}

.op {
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
}

#home, #sobre, #contato, #login {
    padding: 1rem;
}

#home:hover,
#sobre:hover,
#contato:hover,
#login:hover,
#trilho:hover {
    background-color: var(--bg-color);
    transition: 0.5s;
}

#trilho {
    background-color: transparent;
    border: none;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
}

main > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 2rem;
}


.text {
  border: 2px solid white;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.26);
  font-size: 15px;
  max-width: 800px;
  text-align: justify;
  display: block;
}

#rodrigo {
  border: 2px solid white;
  max-width: 19rem;
  height: auto;
}

.perfil {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  text-align: left;
  max-width: 100%;
}



#rodrigo, #gabriel, #vitor {
    border: 2px solid white;
    max-width: 19rem;
    height: auto;
}
