*{
   font-family: Arial, sans-serif;
    color: var(--color-lt);
    text-decoration: none;
}
:root {
    --color-lt: #fffefe;
    --bg-color: rgba(255, 255, 255, 0.301);
}
header {
    background-color: rgba(0, 0, 0, 0.514);
    border-bottom: 2px solid rgba(0, 0, 0, 0.295);
}

body {
    background-image: url(/images/fundo.jpg);
    margin: 0;
}
footer{
    background-color: white;
    max-width: 100%;
    border: 5px solid white;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .cabec {
    flex-direction: row;
    align-items: flex-start;
  }

  #trilho,
  .top-icons img {
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
  }

  .top-icons img:focus {
    outline: 2px solid #fff;
    outline-offset: 4px;
  }

  .op {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #home,
  #sobre,
  #contato,
  #login {
    width: 100%;
    text-align: left;
    padding: 1rem 0.5rem;
  }
}
