* {
    font-family: Arial, sans-serif;
    color: var(--color-lt);
    text-decoration: none;
}

:root {
    --color-lt: #fffefe;
    --bg-color: rgba(255, 255, 255, 0.301);
    --header: rgba(0, 0, 0, 0.514);
    --texto: white;
}

.darkmode {
    --color-lt: #000000;
    --bg-color: rgba(255, 255, 255, 0.301);
    --header: rgb(255, 255, 255);
    --texto: black;
}

header {
    background-color: var(--header);
    border-bottom: 2px solid var(--header);
    color: black
}

body {
    background-image: url(/images/fundo.jpg);
    margin: 0;
}

#home,
#sobre,
#contato,
#apresentcao,
#login {
    width: 100%;
    text-align: left;
    padding: 1rem 0.5rem;
}


footer {
    background-color: white;
    max-width: 100%;
    border: 5px solid white;
}

@media (max-width: 450px) {
    .swiper {
        height: 270px;
    }
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .cabec {
        flex-direction: row;
        align-items: flex-start;
    }

    #trilho,
    .top-icons img {
        cursor: pointer;
        border-radius: 6px;
        transition: 0.3s;
    }

    .top-icons img:focus {
        outline: 2px solid #fff;
        outline-offset: 4px;
    }

    .op {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #home,
    #sobre,
    #contato,
    #apresentcao,
    #login,
    #trilho {
        cursor: pointer;
        min-width: 80px;
        text-align: center;
        border-radius: 6px;
    }


    #home,
    #sobre,
    #contato,
    #login {
        width: 100%;
        text-align: left;
        padding: 1rem 0.5rem;
    }
}

/*Darkmode*/
.darkmode {
    --color-lt: #000000;
    --bg-color: rgba(255, 255, 255, 0.301);
    --header: rgb(255, 255, 255);
}

#dark-mode-toggle img:first-child {
    display: block;
}

#dark-mode-toggle img:last-child {
    display: none;
}

.darkmode #dark-mode-toggle img:first-child {
    display: none;
}

.darkmode #dark-mode-toggle img:last-child {
    display: block;
}

/* Mostra apenas o ícone claro */
.acess-icon.light {
    display: block;
}

.acess-icon.dark {
    display: none;
}

/* Quando o modo escuro estiver ativo, inverte */
.darkmode .acess-icon.light {
    display: none;
}

.darkmode .acess-icon.dark {
    display: block;
}

#dark-mode-toggle {
    cursor: pointer;
}

/*Fim darkmode*/